body {
    background-image: url('../imgs/fundo-vazio.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
  }
  
  .col {
    display: flex;
    align-items: center;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
  }
  
  .container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  input {
    width: 300px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }

    #userNivel {
        position: absolute;
        top: 10px;
        right: 10px;
    }