body {
  background-image: url('../imgs/login-registo.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vw 100vh;
}

.title {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

#leaderboard-image {
  display: flex;
  width: 20vh;
  height: 40vh;
  margin-left: 35vw;
  margin-top: 5vh;
  padding: 10px;
}

#leaderboard-image:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#title {
  font-size: 70px;
  font-weight: bold;
  color: #fff;
  margin-top: 3vh;
  text-align: center;
  text-shadow: rgba(0.1, 0.1, 0.1, 0.5) 0px 5px 10px;
}

#map-image {
  width: 35vw;
  height: 40vh;
  margin-left: 30vw;
  margin-top: 10vh;
  padding-bottom: 1vh;
}

#map-image:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#keys-image {
  width: 20vw;
  height: 20vh;
  margin-left: -62vw;
  margin-top: 15vh;
}

#keys-image:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#faq-image {
  margin-left: 15vw;
  margin-top: -30vh;
  width: 3vw;
}

#faq-image:hover {
  cursor: pointer;
  transform: scale(1.1);
}
