body {
  background-image: url('../imgs/login-registo.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vw 100vh;
}

.title {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

#leaderboard-image {
  display: flex;
  width: 20vh;
  height: 40vh;
  margin-left: 35vw;
  margin-top: 5vh;
  padding: 10px;
}

#leaderboard-image:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#title {
  font-size: 70px;
  font-weight: bold;
  color: #fff;
  margin-top: 3vh;
  text-align: center;
  text-shadow: rgba(0.1, 0.1, 0.1, 0.5) 0px 5px 10px;
  margin-right: 7vw;
}

#map-image {
  width: 35vw;
  height: 40vh;
  margin-left: 30vw;
  margin-top: 10vh;
  padding-bottom: 3vh;
}

#map-image:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#keys-image {
  width: 20vw;
  height: 20vh;
  margin-left: -62vw;
  margin-top: 15vh;
}

#keys-image:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#faq-image {
  margin-left: 15vw;
  margin-top: -30vh;
  width: 3vw;
}

#faq-image:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#perfil {
  display: block;
  margin-left: 75vw;
  margin-top: -5vh;
  width: 20vw;
  height: 6vh;
  border-radius: 15px;
  border: 1px solid #ffe47d;
  padding: 5px;
  background-color: #ffe47d;
  color: white;

  color: #808080;
}

#perfil:hover {
  transform: scale(1.05);
  background-color: #d9b632;
  border: 1px solid #d9b632;
  color: #575757;
  cursor: pointer;
}

a:hover {
  text-decoration: none !important;
}
