body {
  background-image: url('../imgs/nivel1.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vw 100vh;
}

.container-fluid {
  padding: 0 !important;
}

#timer-title {
  font-size: 35px;
  margin-top: 1vh;
  margin-left: 1vw;
  color: #d9b632;
}

#timer-body {
  font-size: 25px;
  margin-left: 2.5vw;
  color: white;
}

#question {
  width: 60vw;
  height: 23vh;
  display: flex;
  margin-left: 13vw;
  margin-top: 10vh;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  flex-direction: column;
  z-index: 1;
  position: absolute;
}

#question-title {
  font-size: 35px;
  margin-top: 1vh;
  color: #d9b632;
}

#question-body {
  text-align: center;
}

#rectangle {
  width: 60vw;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12vw;
  margin-top: 30vh;
  background-color: white;
  border-radius: 20px;
}
